body{
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    
}
.header, .footer{
    display: flex ;
    align-items: center;
    justify-content:center;
    gap: 16px;
    margin-bottom: 20px;
    background-color: #1f2937;
    color: #F9FAF8;
    
}
.logo{
    margin-right: auto;
    padding: 16px;
}
.hlinks{
    margin-right: 8px; 
}
.header a{
    padding: 8px;
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}
.header{
    font-size: 24px;
    color: #F9FAF8 ;
    margin: 0px;
    
}
.container1{
    display: flex;
    padding: 50px 16px;
    background-color: #1f2937;
    padding-bottom: 100px;
    flex-shrink: 0;
}
.headertxt{
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 800;
    margin-left: 30px;
   
}
.container1 .text{
    color: #E5E7EB;
    font-size: 18px;
    
}
.container1 button{
    color: white;
    background-color: #3882F6;
    border: solid 1px #3882F6;
    border-radius: 5px;
    
    padding: 5px 20px;
    max-width: 85px;
    margin-left: -320px;
}
.content{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    
}
.content .text{
    max-width: 400px;
    margin-bottom: 8px;
}
.imgcont{
    display: flex;
    background-color: #E5E7EB;
    margin: auto;
    padding: 50px 100px;
}
.container2{
    display: flex;
    align-items: center;
    
    flex-direction: column;
    gap: 8pxpx;
}
.container2 .imgs{
    display: flex;
    flex: 1;
    gap: 8px;
}
.container2 img{
    border: 2px solid #3882F6;
    border-radius: 5px;
    padding: 50px;
    margin: 16px 16px 0 30px;
    
}
.container2 p{
    text-align: center;
    max-width: 130px;
    margin: 8px 16px 30px 30px;
    padding-top:0 ;
    font-size: 12px;
    color: #1F2937;
    
}
.container2 .headertxt2{
    padding: 30px;
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
}
.container3{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    background-color: #E5E7EB ;
    font-family: 'Courier New', Courier, monospace;
}
.container3 #quote{
    padding: 100px 100px 0px 100px ;
    padding-bottom: 0;
    margin-bottom: 0;
    font-size: 20px;
    font-style: italic;
    font-weight: 300;
    color: #1F2937;
   
}
.container3 #person{
    margin-top: 0;
    padding-right:100px ;
    padding-bottom: 100px;
    font-weight: 700;
}
.container4{
    background-color: #3882F6;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    margin: 70px;
    border-radius: 8px;
    gap: 0;
  
}

.headertxt4{
    color:#F9FAF8;
    font-size: 24px;
    font-weight: 800;
    
}
.content4{
    display: flex;
    flex-wrap: wrap;
    gap: 3px;
    color: #E5E7EB;
    flex-direction: column;
    flex-shrink: 0;
    
}


#btn{
    color: white;
    background-color:#3882F6;
    border: solid 1px #ffffff;
    border-radius: 5px;
    padding: 3px 20px 5px 20px;
    font-size: 10px;
    font-weight: 600;
    margin-left: 50px;
    margin-right: 8px;
    margin-top: 0px;
    
    
    
}
.footer{
    padding-top: 40px;
    padding-bottom: 50px;
}